*.gz
*.o
.deps/
/aclocal.m4
/autom4te.cache/
/compile
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/hicolor/
/install-sh
/missing
/stamp-h1
/usbview
/usbview_icon.xpm
Makefile
Makefile.in
