*.o
*.swp
*.gz
acconfig.h
aclocal.m4
autom4te.cache/
.deps/
compile
config.h
config.h.in
config.log
config.status
stamp-h1
configure
depcomp
install-sh
Makefile
Makefile.in
missing
mkinstalldirs
usbview
