[Desktop Entry]
Name=USBView
GenericName=USB Device Viewer
Comment=View USB devices attached to system
Exec=usbview
Icon=usbview
Terminal=false
Type=Application
Keywords=USB;devices;connected;removable;
Categories=GTK;System;HardwareSettings;Monitor;
